.hero__about {
	display: flex;
	flex-direction: column;

	h3 {
		margin-bottom: 1.3rem;
	}
	p {
		margin-bottom: 1rem;
		line-height: 2.6rem;
	}

	.hero__about_image {
		width: 280px;
		border-radius: 2rem;
		margin-bottom: 1.3rem;
	}
}
