//* NOTE: Colors

$blue-300: #007bff;
$blue-200: #19647e;
$blue-100: #17a2b8;

$gray-300: #1f271b;
$gray-200: #413c3c;
$gray-100: #808080;

$white: white;
$black: black;
$red-100: #dc3545;
