@use 'app';

/* NOTE: Main Style *******************/
.hero__content {
	padding: 4rem 18rem 8rem 10rem;
	color: app.$white;

	animation: content__effect 2s;

	h1 {
		@extend %u-no-bold;
		margin-block: 2rem;
	}

	h2 {
		@extend %u-uppercase;
		@extend %u-no-bold;

		font-size: 1.7rem;
		margin-top: 4rem;
		margin-bottom: 1.5rem;
	}

	h3 {
		@extend %u-uppercase;
		color: app.$blue-100;
		font-size: 1.2rem;
		margin-bottom: 1.2rem;
	}

	p {
		@extend %u-text-align-justify;

		font-size: 1.8rem;
		font-weight: 100;
		line-height: 2.4rem;
		margin-bottom: 1rem;
	}

	hr {
		margin-block: 1rem;
	}

	.hero__pagination {
		list-style: none;
		padding-left: 0;
		color: app.$gray-100;

		li {
			@extend %u-display-inline-block;

			a {
				color: app.$gray-100;
			}
		}
	}
}

@keyframes content__effect {
	0% {
		opacity: 0;
		transform: translate(-20px, 0px);
	}

	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

/* NOTE: End Main Style *******************/
