@use 'app';

/* TODO: Navigation  Style **************/
.navigation {
	background-color: app.$gray-300;
	color: app.$white;
	height: 5rem;

	animation: nav_effect 4s;

	ul {
		@extend %u-text-align-right;
		list-style: none;
		margin-top: 0;
		padding-left: 0;
		height: 5rem;

		li {
			@extend %u-display-inline-block;
			padding-inline: 3rem;
			line-height: 5rem;
			font-size: 1.8rem;
			font-weight: 300;

			a {
				@extend %u-no-text-decoration;
				color: app.$white;

				transition: all 0.2s ease-in;

				&:hover {
					font-weight: 400;
					color: app.$blue-100;
				}
			}

			&.threeline-icon {
				@extend %u-display-none;

				&:hover {
					color: app.$blue-100;
					cursor: pointer;
				}
			}
		}
	}
}

@keyframes nav_effect {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
/* End Style Navigation */
